body{
	background-color:#fff;
	margin:0px;
	padding:0px;
	font-family:Microsoft JhengHei;
}
canvas {
    display: block; /* fix necessary to remove space at bottom of canvas */
}
.about{
	position:absolute;
	z-index:4;
}
.robot{
	position:absolute;
}
.photo{
	position:absolute;
	z-index:3;
}
@keyframes circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(-50deg); }
}
@keyframes circle-back {
    from { transform:rotate(-50deg); }
    to { transform:rotate(0deg); }
}

@keyframes inner-circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(-360deg); }
}
@keyframes big{
	from {font-size:200px;}
	to {font-size:500px;}
}
.about > .smile-container {
    width:100px;
    height:100px;
    
    color:orange;
    font-size:200px;
    line-height:1;
	
    transform-origin:50% 800px;
	margin-left:600px;
	margin-bottom:90%;
	cursor:pointer;
}
.move{
	animation: circle 1s linear;
    transform:rotate(-50deg);
}

.back{
	animation: circle-back 1s linear;
    transform:rotate(0deg);
}
.bigger{
	
	font-size:500px;
}
.smile-container > #smile {
    /*animation: inner-circle 5s linear ;*/
}
#btn{
	background-image:url("img/earth.jpg");
	padding:30px;
	background-size: 100px;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	
	
	background-repeat: no-repeat;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
	border:1px solid #ed3bed;
	display:inline-block;
	cursor:pointer;
	color:rgba(255,255,255,.5);
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin-top:30%;
}
.myButton:hover {
	border:1px solid #FFFF00;
	
}
.myButton:active {
	position:relative;
	top:1px;
}

.about-info-top{
	margin-left:150px;
	margin-top:120px;
	width:300px;
	height:400px;
	background-color:rgba(0,0,0,0);
	position:absolute;
	z-index:10;
	color:#fff;
	cursor:pointer;
}

.photo > .photo-container {
    width:100px;
    height:100px;
    
    color:orange;
    font-size:200px;
    line-height:1;
	animation: circle-btn2 10s linear infinite;
    transform-origin:100% 1200px;
	margin-left:800px;
	margin-bottom:100%;
	cursor:pointer;
	
}
.photo-container > #photo {
    animation: inner-circle-btn2 5s linear ;
}
.move-btn2{
	animation: circle-btn2 1s linear;
    transform:rotate(360deg);
}
#btn2{
	background-image:url("img/moon.jpg");
	padding:15px;
	background-size: 75px;
	
}
.turn{
	animation: inner-circle-btn2 1s linear;
	transform:rotate(180deg);
}
@keyframes circle-btn2 {
    from { transform:rotate(0deg); }
    to{ transform:rotate(360deg); }
	
}
@keyframes circle-back-btn2 {
    from { transform:rotate(-50deg); }
    to { transform:rotate(0deg); }
}

@keyframes inner-circle-btn2 {
    from { transform:rotate(0deg); }
    to { transform:rotate(180deg); }
}